
      <div class="col-md-12">
        <div class="dashboard-container">
            <nav class="vertical">
              <ul>
                <li>
                  <a>Conocimiento</a>
                  <div>
                    <ul>
                      <li><input mdInput type="text" class="form-control input-positions" disabled [(ngModel)]="technicalKnowledgeId" value=""></li>
                      <li><input mdInput type="text" class="form-control input-positions" disabled [(ngModel)]="technicalKnowledgeName" value=""></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </nav>
        </div>
 
      </div>