<div class="dashboard-container">
    <h2 style="text-align:center; margin-top:1.5%; color:black;">CREAR FRANQUICIA</h2>

    <form #formulario="ngForm" (ngSubmit)="createFranchise(formulario)" autocomplete="off">
        <div class="form-group form-items">
            <label for="name" style="color:black;">Nombre</label>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="franchiseName">
            <label for="img" style="color:black;">Logo</label>
            <input type="file" class="form-control" id="img" name="img" ngModel>
            <button class="btn btn-danger create-b" [routerLink]="['/franchise']">Volver</button>
            <button type="submit" class="btn btn-success create-b">Crear</button>
        </div>
    </form>
</div>