.navbar-default{
    background-color: #CB4444;
}

.navbar-brand {
    color: #FFFFFF; 
}

.navbar-nav>li>a {
    color: #FFFFFF;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    margin-left: 9%;
}

.navbar-right{
    margin-right: 19%;
}

.sidebar{
  background: #F0EFEF;
  color: #fff;
  height: 520px;
  width: 250px;
  border-radius: 4px;
  margin: 20px;
}

.left-title {
    color: #777777;
    padding-top: 180%;
}

.right-down-title {
    padding-bottom: 30%;
}

.right-title-container {
    padding-top: 5%;
    height: 180px;
    color:#777777;
}


input[type="email"] {
  display: block;
  margin: 0;
  width: 60%;
  height: 40px;
  font-family: sans-serif;
  font-size: 18px;
  box-shadow: none;
  border-radius: none;
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}


input[type="password"] {
  display: block;
  margin: 0;
  width: 60%;
  height: 40px;
  font-family: sans-serif;
  font-size: 18px;
  box-shadow: none;
  border-radius: none;
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
  margin-top: 5%;
}

.button {
    position: relative;
    background-color: #CB4444;
    border: none;
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    margin-top: 5%;
    width: 200px;
    height: 40px;
    border-radius: 20px;
}

.button-container {
    text-align: center;
}

.button:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s;
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
}

.forgot-password{

    width: 60%;
    text-align: right;
    margin-top: 2%;
}

.forgot-password a {
    color: #777777;
}

.forgot-password a:hover {
    text-decoration: none;
}

.forgot-password a:focus {
    text-decoration: none;
}

.create-account{

    width: 60%;
    text-align: center;
    margin-top: 5%;
}

.create-account a {
    color: #CB4444;
}

.create-account a:hover {
    text-decoration: none;
}

.create-account a:focus {
    text-decoration: none;
}

.dashboard-container{
  background: #F0EFEF;
  color: #fff;
  height: 550px;
  width: 500;
  border-radius: 4px;
  align-content: center;
  padding-top: 1%;
  margin-left: 2.7%;
  margin-right: 2.7%;   
}

.main-title {
    text-align: center;
    border-bottom: 1.5px solid #C6C5C5;
}
.main-title > h1 {
    color: black;
}

.select-list{
    color: black;
    margin-left: 39.5%;
    margin-top: 5%;
    width: 285px;
}

.listaRSS-element ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color:#c7c7c7;
  font-weight: 300;
}
.listaRSS-element  ::-moz-placeholder { /* Firefox 19+ */
  color: #c7c7c7;
}
.listaRSS-element  :-ms-input-placeholder { /* IE 10+ */
  color: #c7c7c7;
}
.listaRSS-element  :-moz-placeholder { /* Firefox 18- */
  color: #c7c7c7;
}
.listaRSS-element input{
  border:0px;
  padding: 0px;
}

.listaRSS-header{
    padding-top: 8px;
    padding-bottom: 8px;
    color: black;
    border-bottom: 1.5px solid #C6C5C5;
    margin-top: 5%;

}

.listaRSS-element i{
    font-size: 17px!important;
    padding-left: 5px;
    padding-right: 5px;
}

.listaRSS-element{
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom:1px solid #CECECE;
}
.listaRSS{
}

.listaRSS-body{
    height: 61vh;
    overflow-y: scroll;
    color: black;
}

a {
    cursor: pointer;
}

.create-btn{
    margin-left: 82.6%;
    margin-top: 0.3%;
    width: 200px;
}

