.navbar-default{
    background-color: #CB4444;
}

.navbar-brand {
    color: #FFFFFF; 
}

.navbar-brand:hover {
    color: #C0C0C0; 
}

.navbar-nav>li>a {
    color: #FFFFFF;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    margin-left: 9%;
}

.navbar-right{
    margin-right: 22%;
}

.sidebar{
  background: #F0EFEF;
  color: #fff;
  height: 520px;
  width: 250px;
  border-radius: 4px;
  margin: 20px;
}

.left-title {
    color: #777777;
    padding-top: 180%;
}

.right-down-title {
    padding-bottom: 30%;
}

.right-title-container {
    padding-top: 5%;
    height: 180px;
    color:#777777;
}


input[type="email"] {
  display: block;
  margin: 0;
  width: 60%;
  height: 40px;
  font-family: sans-serif;
  font-size: 18px;
  box-shadow: none;
  border-radius: none;
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}


input[type="password"] {
  display: block;
  margin: 0;
  width: 60%;
  height: 40px;
  font-family: sans-serif;
  font-size: 18px;
  box-shadow: none;
  border-radius: none;
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
  margin-top: 5%;
}

.button {
    position: relative;
    background-color: #CB4444;
    border: none;
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    margin-top: 5%;
    width: 200px;
    height: 40px;
    border-radius: 20px;
}

.button-container {
    text-align: center;
    margin-right: 225px;
    margin-top: 5%;
}

.button:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s;
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
}

.forgot-password{

    width: 60%;
    text-align: right;
    margin-top: 2%;
}

.forgot-password a {
    color: #777777;
}

.forgot-password a:hover {
    text-decoration: none;
}

.forgot-password a:focus {
    text-decoration: none;
}

.create-account{

    width: 60%;
    text-align: center;
    margin-top: 5%;
}

.create-account a {
    color: #CB4444;
}

.create-account a:hover {
    text-decoration: none;
}

.create-account a:focus {
    text-decoration: none;
}

 ul > li > a:hover {
    background-color: white;
    color: #CB4444;
    cursor: pointer;
}

.dashboard-search {
    width: 250px;
    background-color: #CB4444;
    color: white;
    border-color: white;
}

::-webkit-input-placeholder { /* Chrome */
  color: white;
}

.btn-default {
    color: white;
    background-color: #CB4444;
    border-color: white;
}

/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .fa-search {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .fa-search  { left:  0px;}
.right-addon .fa-search { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.fa-search {
    color: white;
}





