<!--The content below is only a placeholder and can be replaced.-->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">ALANA</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <form class="navbar-form navbar-left">
            <div class="form-group">
              <div class="inner-addon left-addon">
                <i class="fa fa-search"></i>
                <input type="text" class="form-control dashboard-search" placeholder="¿Estas buscando algo?"/>
            </div>
            </div>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li><a>Home</a></li>
            <li><a>Empresa</a></li>
            <li><a>Blog</a></li>
            <li><a>Contactos</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

<manager-dashboard-component></manager-dashboard-component>
