

      <div class="dashboard-container">
        <div class="col-md-12 main-title">
          <h1 style="margin-bottom: 2%;">Cargos</h1> 
        </div>

        <div class="listaRSS">
          
          <div class="listaRSS-header">
            <div class="row">
              <div class="col-md-6" style="text-align: center; padding-right:1.5%; padding-top:0.5%;"><strong>Nombre</strong></div>
              <div class="col-md-6" style="text-align: center; padding-right:3.3%; padding-top:0.5%;"><strong>Acciones</strong></div>
            </div>
          </div>

          <div class="listaRSS-body">
            <div *ngFor=" let data of positions" class="row listaRSS-element">
              <div class="col-md-6 elipsis" style="text-align: center;">{{data.jobPositionName}}</div>
              <div class="col-md-6 elipsis" style="text-align: center;" ><a [routerLink]="['/view-job',data.id]">ver</a></div>
            </div>
          </div>

        </div>

      </div>