

      <div class="dashboard-container">
        <div class="col-md-12 main-title">
          <h1 style="margin-bottom: 2%;">Solicitudes de Compañías</h1> 
        </div>

        <div class="listaRSS">
          
          <div class="listaRSS-header">
            <div class="row">
              <div class="col-md-4" style="text-align: center; padding-right:1.5%; padding-top:0.5%;"><strong>Nombre</strong></div>
              <div class="col-md-4" style="text-align: center; padding-right:3.3%; padding-top:0.5%;"><strong>Acciones</strong></div>
              <div class="col-md-4" style="text-align: center; padding-right:3.3%; padding-top:0.5%;"><strong>Estado</strong></div>
            </div>
          </div>

          <div class="listaRSS-body">
            <div *ngFor=" let data of companyRequests" class="row listaRSS-element">
              <div class="col-md-4 elipsis" style="text-align: center;">{{data.userLastName}}</div>
              <div class="col-md-4 elipsis" style="text-align: center;">
                        <button type="button" class="btn btn-primary" (click)="approveConfirmMessage(data.id);" [routerLink]="">Aprobar</button>
                        <button type="button" class="btn btn-default" (click)="disapproveConfirmMessage(data.id);" [routerLink]="">Desaprobar</button>
              </div>
              <div class="col-md-4" style="text-align:center">{{data.statusStatus.value}}</div>
            </div>
          </div>

        </div>

      </div>
