
    <div id = "content" class="row">
      <div class="col-md-3 sidebar">
        <!-- Aqui va a estar la parte gris de la izquierda y abajo "Bienvenido te estabamos esperando" -->
        <div class = "left-title">
          <h2>¡Bienvenido!</h2>
          <div class="left-down">
            <h4>Te estábamos esperando</h4>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        
      </div>
      <div class="col-md-6">

        <div class = "right-title-container">
          <div>
            <h1>¡Bienvenido a</h1> 
          </div>
          <div class = "right-down-title">
            <h1>alana!</h1>
          </div>
        </div>

        <div>

          <input id="email" type="email" placeholder="Correo" [(ngModel)]="email">
          <input id="password" type="password" placeholder="Contraseña" [(ngModel)]="password">
          
            <div class="forgot-password">
              <a href="#"><b>¿Olvidaste la contraseña?</b></a>
            </div>

            <div class="button-container">
              <button type="button" class="button" (click)="signIn();" routerLink="/logged">INICIAR SESIÓN</button>
            </div>

            
            <div class="create-account">
              <b>¿NO TIENES UNA CUENTA?</b>&nbsp;&nbsp;<a href="#"><b>CREAR UNA CUENTA</b></a>
            </div>
        </div>

        
      </div>
    </div>