.navbar-default{
    background-color: #CB4444;
}

.navbar-brand {
    color: #FFFFFF; 
}

.navbar-nav>li>a {
    color: #FFFFFF;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    margin-left: 9%;
}

.navbar-right{
    margin-right: 19%;
}

.sidebar{
  background: #F0EFEF;
  color: #fff;
  height: 520px;
  width: 250px;
  border-radius: 4px;
}

.left-title {
    color: #777777;
    padding-top: 180%;
}

.right-down-title {
    padding-bottom: 30%;
}

.right-title-container {
    padding-top: 5%;
    height: 180px;
    color:#777777;
}


input[type="email"] {
  display: block;
  margin: 0;
  width: 60%;
  height: 40px;
  font-family: sans-serif;
  font-size: 18px;
  box-shadow: none;
  border-radius: none;
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}


input[type="password"] {
  display: block;
  margin: 0;
  width: 60%;
  height: 40px;
  font-family: sans-serif;
  font-size: 18px;
  box-shadow: none;
  border-radius: none;
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
  margin-top: 5%;
}

.button {
    position: relative;
    background-color: #CB4444;
    border: none;
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    margin-top: 5%;
    width: 200px;
    height: 40px;
    border-radius: 20px;
}

.button-container {
    text-align: center;
    margin-right: 225px;
    margin-top: 5%;
}

.button:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s;
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
}

.forgot-password{

    width: 60%;
    text-align: right;
    margin-top: 2%;
}

.forgot-password a {
    color: #777777;
}

.forgot-password a:hover {
    text-decoration: none;
}

.forgot-password a:focus {
    text-decoration: none;
}

.create-account{

    width: 60%;
    text-align: center;
    margin-top: 5%;
}

.create-account a {
    color: #CB4444;
}

.create-account a:hover {
    text-decoration: none;
}

.create-account a:focus {
    text-decoration: none;
}





* {
    margin: 0;
    padding: 0;
    outline: none;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #eee;
    color: #444;
    -webkit-font-smoothing: antialiased;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 400;
    height: auto !important;
    height: 100%;
    min-height: 100%;
    text-rendering: optimizeLegibility;
}

div.wrapper {
  margin: 20px auto;
  width: 350px;
  margin-top: 15%;
}

p {
  font-family: georgia;
  font-size: 1rem;
  line-height: 25px;
  margin: 24px 0;
  text-align: center;
}

nav.vertical {
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0,0,0,.15);
  overflow: hidden;
  text-align: center;
  width: 380px;
  margin-left: 35%;
  margin-top: 7%;
}

  nav.vertical > ul {
    list-style-type: none;
  }

    nav.vertical > ul > li {
      display: block;
    }

      nav.vertical > ul > li > a {
        background-color: #CB4444;
        background-image: -webkit-linear-gradient(135deg, #CB4444, #CB4444);
        background-image: -moz-linear-gradient(135deg, #CB4444, #CB4444);
        background-image: -o-linear-gradient(135deg, #CB4444, #CB4444);
        background-image: linear-gradient(135deg, #CB4444, #CB4444);
        border-bottom: 1px solid rgba(255,255,255,.1);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.1), 0 1px 1px rgba(0,0,0,.1);
        color: rgb(255,255,255);
        display: block;
        font-size: 20px;
        font-weight: 500;
        height: 50px;
        letter-spacing: .5rem;
        line-height: 50px;
        text-shadow: 0 1px 1px rgba(0,0,0,.1);
        text-transform: uppercase;
        transition: all .1s ease;
        text-decoration: none;
      }

        nav.vertical > ul > li > a:hover {
         background-color: lightBlue;
         background-image: -webkit-linear-gradient(150deg, lightBlue, lightBlue);
         background-image: -moz-linear-gradient(150deg, lightBlue, lightBlue);
         background-image: -o-linear-gradient(150deg, lightBlue, lightBlue);
         background-image: linear-gradient(150deg, lightBlue, lightBlue); 
         cursor: pointer;
        }
        
          nav.vertical > ul > li > div {
            background-color: rgb(255,255,255);
          }
 
          nav.vertical > ul > li > div > ul {
            list-style-type: none;
          }

            nav.vertical > ul > li > div > ul > li > a {
             background-color: rgb(255,255,255);
             border-bottom: 1px solid rgba(0,0,0,.05);
             color: #333331;
             display: block;
             font-size: 20px;
             padding: 10px 0;
             text-decoration: none;
             transition: all 0.15s linear;
            }

              nav.vertical > ul > li > div > ul > li:hover > a {
                background-color: lightBlue;
                color: rgb(255,255,255);
              }


.dashboard-container{
  background: #F0EFEF;
  color: #fff;
  height: 500px;
  width: 500;
  border-radius: 4px;
  align-content: center;
  padding-top: 1%;
  margin-left: 1.7%;
  margin-right: 1.7%;
}