
      <div class="col-md-12">
        <div class="dashboard-container">
            <nav class="vertical">
              <ul>
                <li>
                  <a >Lista</a>
                  <div>
                    <ul>
                      <li><a routerLink="/job">Cargos</a></li>
                      <li><a routerLink="/franchise">Franquicias</a></li>
                      <li><a routerLink="/technical">Conocimientos Técnicos</a></li>
                      <li><a routerLink="/company-request">Solicitudes de Compañías</a></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </nav>
        </div>
 
      </div>